<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="utf-8">
	<title>AngularJS Tutorial</title>
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="http://cyokodog.github.io/jquery.ex-code-prettify/jquery.ex-code-prettify.css" rel="stylesheet" type="text/css" media="screen" >
	<link href="css/style.css" rel="stylesheet" type="text/css" media="screen" >
</head>
<body>

<h1><a href="/">AngularJS STUDY</a></h1>

<div class="l-contents">
	<div class="l-article markdown">