<% include common/_head %>

## Inplace Editor

<div class="ex-code-prettify">

<textarea class="code css" data-ex-code-prettify-param="{codeType:'css'}">
</textarea>

<textarea class="code html" data-ex-code-prettify-param="{codeType:'html'}">
<div ng-app="app" ng-controller="appCtrl as ctrl">
    <inplace-editor editor="ctrl.editor"/>
</div>
</textarea>


<textarea class="code script" data-ex-code-prettify-param="{codeType:'script'}">
//<script>
var app = angular.module('app', ['ui']);
app.controller('appCtrl', function($scope){
    var ctrl = this;
    ctrl.editor = 'hello'
});


var ui = angular.module('ui', []);
ui.directive('inplaceEditor', function(){
    return {
        scope: {
            editor: '='
        },
        template: $('.template').val(),
        link: function(scope, el, attr, ctrl){
            ctrl.init(el, attr, ctrl);
        },
        controllerAs: 'ctrl',
        controller: function($scope, $timeout){
            var ctrl = this;
            ctrl.init = function(el, attr, editorCtrl){
                ctrl.el = el;
                ctrl.isEdit = false;                
            }
            ctrl.toggleMode = function($event){
                ctrl.isEdit = !ctrl.isEdit;                
                $event.preventDefault();
                $event.stopPropagation();
                return false;
            }
            ctrl.label = {
                click: function($event){
                    ctrl.toggleMode($event);
                    $timeout(function(){
                        ctrl.el.find('.editor').focus();
                    },100);
                }
            }
            ctrl.editor = {
                keydown: function($event){
                    if($event.which == 13){
                        ctrl.toggleMode($event);
                        $timeout(function(){
                            ctrl.el.find('.label').focus();
                        },100);
                    }
                }
            }

        }
    }    
});
</textarea>

<textarea class="code html template" data-ex-code-prettify-param="{codeType:'html'}">
<span>
    <input ng-show="ctrl.isEdit" ng-model="editor" class="editor" ng-keydown="ctrl.editor.keydown($event)"/>
    <a ng-show="!ctrl.isEdit" href="#" class="label" ng-click="ctrl.label.click($event)">{{editor}}</a>
</span>
</textarea>







</div>

<% include common/_foot %>
